<!DOCTYPE html>
<html lang="en">

<head>
    <title>ACE in Action</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>


    <form action="/getinput" method="POST">
        <div id="editor"><%= input || '' %></div>

        <input type="hidden" name="code" id="code" />
        <input type="submit" value="Submit" onclick="getEditorCode();" />
    </form>

    <form action="/output" action="GET">
        <input type="submit" value="Output" />
    </form>

    <div class="instructions">
        <h1>OUTPUT</h1>
        <span id="score" class="score">Score: 0</span>
        <span id="timer" class="timer">Time: 10</span>
        <div class="codearea">
            Output: <%= output %>
        </div>
    </div>

    <script src="ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="index.js"></script>
</body>

</html>