<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>AGRA</title>
</head>
<body>
    <div class="container">

        <div class="header">
                <img src="ImgLogo.png" alt="logo" class="logo">
                <div class="home"><a href="#">Home</a></div>
                <div class="account"><a href="#">Account</a></div>
                <div class="courses"><a href="#">Courses</a></div>
                <div class="exercises"><a href="#">Exercises</a></div>
                <img id="tutorial-btn" src="TutorialIcon.png" alt="notif" class="notif">
        </div>

        <div class="instructions" id="instructions">
            <div class="instrucName">Instructions</div>
        </div>

        <div class="stu-progress">
            <div class="progName">Progress Bar</div>
            <div class="prog-bar">
                <div class="color-prog-bar"></div>
            </div>
            <div class="Score">Score <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 55px;" id="score">0</span></div>
            <div class="Timer">Timer<br>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 55px;" id="timer">0</span></div>
            <div class="button"><img id="btn" src="FrmeInstrucctions(1).png" onclick="runClick();"></div>
        </div>

        <div class="mini-game" id="minigame">
        </div>

        <div class="code-container" >
            <div class="code-editor" id="code-editor"></div></div>
        <div id="output" class="output"></div>

    </div>

    <div id="tutorial-container" class="tutorial-container">

    </div>
    </div>


    <script src="minigame.js"></script>
    <script src="tutorial.js"></script>
    <script src="p5.js"></script>
    <script src="ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="index.js"></script>
    
</body>
</html>