@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Fira Code', monospace;
}
.container{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns:  repeat(15, 1fr) ;
    grid-template-rows: 0 repeat(5, 1fr) 5px;
    gap: 20px;
    padding: 0px;
    box-sizing: border-box;
}
.container div{
    padding: 5px;
    
    
}

/*Nav bar*/
.header{
    background-color: #6a2ee8;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 16;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(20, 1fr);
    
}

#tutorialPanel{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top:30;
    text-align: center;
    z-index: 100;
}

#tutorialPanel img{
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.header img:last-child{
    width: 50%;
    height: 60%;
    grid-row-start: 2;
}

.header img:hover{
    opacity: 85%;
    cursor: pointer;
}


a{
    color: white;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0;
    text-decoration: none;
    transition: color 0.10;
  
    &:hover{
        color: rgb(0, 0, 0);
    } 
}
.logo{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
.home{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 11;
    grid-column-end: 12;
}
.account{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 13;
    grid-column-end: 14;
}
.courses{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 15;
    grid-column-end: 16;
}
.exercises{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 17;
    grid-column-end: 18;
}
.notif{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 19;
    grid-column-end: 20;
}



  /*Instructions Teacher*/
.instructions{
    
    background-color: #6a2ee8;
    color: black;
    font-weight: 300;
    font-size: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 20px;

    display: grid;
    grid-template-rows: 35px repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    
}
.instruc-container{
    max-width: 90%;
    font-size: 16px;
    height: 100px;
    border: black solid 1px;
    margin: 10px auto;
}


/*Progress Div*/
.stu-progress{
    
    background-color: #6a2ee8;
    color: white;
    font-weight: 300;
    font-size: 20px;
    border-radius: 20px;
    margin-right: 20px;
    
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 13;
    grid-column-end: 16;
    

}
.score{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px 0px 0px 20px;
    color: white;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
}
.timer{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px 0px 20px 0px;
    color: white;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 7;
}
.prog-bar{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #d5d5d5;
    border-radius: 70px;
    padding: 0;
    overflow: auto;
    display: grid;
    position:static;
    padding: 0;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 6;

    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    
}
.progName{
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.prog-bar div{
    padding: 0;
}
.color-prog-bar{
    
    background-color: rgba(255, 255, 255, 1);
    border-radius: 70px;
    background: linear-gradient(180deg, rgb(238, 154, 229) 0%, rgb(106, 46, 232) 100%);
    grid-column-start: 1;
    grid-column-end: 4;
}


/*Mini-game*/

.mini-game{
    grid-column-start: 13;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #6a2ee8;
    border-radius: 20px;
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 13;
    grid-column-end: 16;
    margin-right: 20px;
    display: grid;
    grid-template-rows: repeat(14);
    grid-template-columns: repeat(2, 1fr);


    
}
.enemy-health-bar{
    position: relative;
    background-color: #6a2ee8;
    border-radius: 20px 0px 20px 0px;
    border: 1px solid #ffffff;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.player-health-bar{
    position: relative;
    
    background-color: #6a2ee8;
    border-radius: 20px 0px 20px 0px;
    border: 1px solid #ffffff;
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;

}
.player-place-holder{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
    border: solid 1px white;
    border-radius: 86.5px/28.5px;
    

}
.enemy-place-holder{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    border: solid 1px white;
    border-radius: 86.5px/28.5px;

}
.player-todo{
    grid-row-end: 4;
    position: relative;
    
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
    border: 1px solid;
    border-color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 13;
    grid-row-end: 14;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    border-radius: 10px 10px 20px 10px;
    border: solid 1px white;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.button img{
    width: 100%;
    height: 100%;
}

.button:hover{
    cursor: pointer;
    opacity: 90%;
}


/*code-container*/
.code-container{
    border-radius: 20px;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 13;
    padding: 0px;
}

.code-editor{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.output{
    color: white;
    background-color: #000000;
    border-radius: 20px;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 13 ;
    font-size: 20px;
    padding: 10px;
    overflow:scroll;

}

#output-text{
    margin-top: 105px;
    padding: 15px;
    font-size: 20px;
    padding: 10px;
}

#timer, #score{
    display: table;
    margin: 0 auto;
}

.startPanel{
    width: 500px;
    height: 200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #6a2ee8;
    border: 1px solid white;
    border-radius: 20px;
    z-index: 100;
    color: white;
}

#startButton{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px;
}

#startButton:hover{
    cursor: pointer;
    opacity: 90%;
}   

.endPanel{
    width: 500px;
    height: 200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #6a2ee8;
    border: 1px solid white;
    border-radius: 20px;
    z-index: 100;
    color: white;
    display: none;
}

#resetButton{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 10px;
}

#resetButton:hover{
    cursor: pointer;
    opacity: 90%;
}  
